@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
li,
button {
  font-family: Lato;
  font-weight: 400;
  color: rgb(93, 93, 93);
}

.navigation {
  background: rgb(34, 34, 34);
  padding: 18px 0;
  align-items: center;
}


.navigation__Buttons {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__Buttons-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.navigation__Buttons-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 33px;
}

.navigation__Buttons-left button,
.navigation__Buttons-right button {
  background: rgb(34, 34, 34);
  border: none;
  cursor: pointer;
}

.navigation__btn-shop {
  position: relative;
  display: inline-block;
  margin-right: 33px;
}

.navigation__btn-shop-input {
  position: absolute;
  display: none;
  left: -9999999px;
}

.navigation__btn-shop-menu {
  display: none;
  position: fixed;
  z-index: 10;
  top: 80px;
  right: -200%;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: right 0.3s ease;
}

.navigation__btn-shop-menu-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.navigation__btn-shop-menu-item-subtitle {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.navigation__btn-shop-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation__btn-shop-menu-subitem {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 25px;
}

.navigation__btn-shop-menu-link {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition: color 0.5s ease;
}

.navigation__btn-shop-menu-link:hover {
  color: #f16d7f;
}

.navigation__btn-shop-input:checked ~ .navigation__btn-shop-menu {
  display: inline-block;
  right: 0;
}

.navigation__btn-personal-account {
  margin-right: 33px;
}

.navigation__btn-cart {
  position: relative;
}

.navigation__btn-cart::before {
  position: absolute;
  top: -10px;
  right: -5px;
  content: "5";
  padding: 2.5px 5px;
  border-radius: 100%;
  color: white;
  background-color: #f16d7f;
}

.navigation__btn-search:hover,
.navigation__btn-shop:hover,
.navigation__btn-personal-account:hover,
.navigation__btn-cart:hover {
  background-color: #f16d7f;
}
/* 
.navigation__btn-cart-svg-path,
.navigation__btn-personal-account-svg-path,
.navigation__btn-shop-svg-path,
.header__btn-search-svg-path {
  transition: fill 0.4s ease;
} */


.banner {
  background: rgb(241, 228, 230);
}

.bannerConteiner {
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 63.42px;
}

.rightHeading {
  border-left: 12px solid rgb(241, 109, 127);
  margin-top: -37px;
}

.text {
  margin-left: 16px;
}

.text h1 {
  font-weight: 900;
  font-size: 48px;
  color: rgb(34, 34, 34);
}

.text h3 {
  font-weight: 700;
  font-size: 32px;
  color: rgb(34, 34, 34);
}

.pinkFashion {
  color: rgb(241, 109, 127);
}

.rightButtons__sticker {
  background: #f16d7f;
  border: none;
  border-radius: 25px 25px 25px 25px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: -8px;
  right: -11px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .conteiner {
  max-width: 1140px;
  margin: 68px auto 96px auto;

} */

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-top: 65px;
}


.offer1 {
  background-image: url(./img/forWomen.png);
  width: 360px;
  height: 260px;
}

.offer2 {
  background-image: url(./img/forMen.png);
  width: 360px;
  height: 260px;
}

.offer3 {
  background-image: url(./img/forKids.png);
  width: 360px;
  height: 260px;
}

.offer4 {
  background-image: url(./img/accesories.png);
  width: 1140px;
  height: 180px;
}

.listOfOffers {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.options h3 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

.pinkText {
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.products {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 60.5px;
  justify-content: center;
}

.products h2 {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.products p {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-bottom: 48px;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 68.5px; */
}

.card {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 360px; */
  text-align: left;
  justify-content: center;
  position: relative;
}

/* .itemToOrder {
  filter: brightness(40%);
} */

.addTocart {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-content:baseline;
}

.cardInformation {
  padding: 24px 16px;
}

.cardInformation h3 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 16px;
}

.cardInformation p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.pinkTextInProducts {
  color: rgb(241, 109, 127);
  font-size: 16px;
  line-height: 19px;
}

.products button {
  /* border: 0.5px solid; */
  padding: 15px 39px;
  /* background: white; */
}

.card:hover .product__img {
  filter: brightness(0.5);
}

.card:hover .product__add {
  display: flex;
}

.product__add:hover {
  box-shadow: 0 0 5px #ffffff;
}

.product__add {
  position: absolute;
  top: 188px;
  border: 1px solid #ffffff;
  height: 44px;
  font-size: 14px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
  background-color: transparent;
}

.product__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48.5px;
  padding: 14.5px 38.5px;
  border: 1px solid #ff6a6a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  background-color: transparent;
}

.product__btn:hover {
  color: #ffffff;
  background-color: #f26376;
}

.blackBlock {
  background: #222224;
}

.blackBlock__conteiner {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 0 auto 0 auto;
  padding-top: 103px;
  padding-bottom: 104px;
}

.blackBlock__conteiner-article {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.blackBlock img {
  margin-bottom: 21px;
}

.blackBlock h3 {
  font-weight: 400;
  font-size: 19px;
  color: #fbfbfb;
}

.blackBlock p {
  font-weight: 300;
  font-size: 13px;
  color: #fbfbfb;
}

.subscribe {
  background-image: url(./img/subscribe_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe__background {
  background: rgba(244, 244, 244, 0.7);
}

.subscribe__background__conteiner {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 224px;
  margin: 0 auto 0 auto;
  padding-top: 97px;
  padding-bottom: 126px;
}

.subscribe__background__conteiner-article_1 {
  max-width: 359px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subscribe__background__conteiner-article_1 img {
  width: 96px;
  height: 96px;
}

.subscribe__background__conteiner-article_1 p {
  font-size: 20px;
  color: #222224;
}

.subscribe__background__conteiner-article_2 {
  display: flex;
  flex-direction: column;
}

.subscribe__background__conteiner-article_2 h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #222224;
}

.subscribe__background__conteiner-article_2 h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  color: #222224;
}

.from {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input__email {
  background: #e1e1e1;
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 17px 67px 16px 22px;
}

.input__submit {
  background: #f16d7f;
  ;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 17px 20px 16px 20px;
}

.footer {
  background: #222224;
}

.footer__conteiner {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 24px 0 24px 0;
}

.footer__conteiner-leftBox h4 {
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
}

.footer__conteiner-rightBox {
  display: flex;
  flex-direction: row;
  gap: 7.29px;
}

.footer__conteiner-rightBox__icon {
  background: #ffffff;
  width: 31.45px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__conteiner-rightBox__icon:hover {
  background: #F16D7F;
}

.footer__conteiner-rightBox__icon:hover svg {
  fill: #FFFFFF;
}

@media(min-width: 768px) and (max-width: 1190px) {

  .conteiner {
  max-width: 735px;
  margin: 65px auto 110px auto;
}


.navigation__Buttons {
  max-width: 704px;
}

.navigation__Buttons-right {
  gap: 25px;
}

.bannerConteiner {
  max-width: 768px;
  gap: 39px;
}

.bannerPic {
  max-width: 386px;
  max-width: 368px;
}

.text h1 {
  font-size: 44px;
}

.text h3 {
  font-size: 24px;
}

.listOfOffers {
  gap: 19px;
  margin-bottom: 110px;
}

.offer1 {
  width: 232px;
  height: 167px;
  background-size: contain;
}

.offer2 {
  width: 232px;
  height: 167px;
  background-size: contain;
}

.offer3 {
  width: 232px;
  height: 167px;
  background-size: contain;
}

.offer4 {
  width: 735px;
  height: 116px;
  background-size: contain;
}

.products h2 {
  margin-bottom: 0px;
}

.product__list {
  gap: 16px;
  grid-template-columns: repeat(auto-fit, 353px);
}

.cardInformation h3 {
  padding-bottom: 13px;
}

.cardInformation p {
  margin-bottom: 18px;
}

.pinkTextInProducts {
  margin-bottom: 20px;
}

.blackBlock__conteiner {
  max-width: 768px;
  flex-direction: column;
  gap: 48px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.subscribe__background__conteiner {
  max-width: 768px;
  flex-direction: column;
  gap: 48px;
  padding-top: 64px;
  padding-bottom: 140px;
}

.footer__conteiner {
  max-width: 768px;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}
}

@media (max-width: 767px) {

  .container{
  max-width: 343px;
  margin: 64px auto 85px auto;
}

.navigation__Buttons {
  max-width: 343px;
}

/* .navigation {
  padding: 18px 18px;
  margin: 0px auto;
} */

.navigation__btn-personal-account,
.navigation__btn-cart {
  display: none;
}

.bannerConteiner {
  max-width: 343px;
  margin: 0px auto 64px auto;
  padding: 145px 0 145px 0;
  justify-content: center;
}

.bannerPic {
  display: none;
}

.text h1 {
  font-size: 38px;
}

.text h3 {
  font-size: 20px;
}

.offers {
  gap: 32px;
  margin-bottom: 64px;
}

.offer1 {
  width: 342px;
  height: 247px;
  background-size: cover;
}

.offer2 {
  width: 342px;
  height: 247px;
  background-size: cover;
}

.offer3 {
  width: 342px;
  height: 247px;
  background-size: cover;
}

.offer4 {
  width: 343px;
  height: 111px;
  background-size: cover;
}

.product__list {
  grid-template-columns: 1fr;
}

.card {
  max-width: 100%;
}
.blackBlock__conteiner {
  max-width: 375px;
  flex-direction: column;
  gap: 48px;
  padding-top: 47px;
  padding-bottom: 81px;
}

.subscribe__background__conteiner {
  max-width: 375px;
  flex-direction: column;
  gap: 59px;
  padding-top: 64px;
  padding-bottom: 110px;
}

.subscribe__background__conteiner-article_1 p {
  font-size: 18px;
}

.subscribe__background__conteiner-article_2 h3 {
  font-size: 14px;
}

.footer__conteiner {
  max-width: 375px;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 40px;
  padding: 43px 0 9px 0;
}

}